<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/mvc https://www.springframework.org/schema/mvc/spring-mvc.xsd http://www.springframework.org/schema/util https://www.springframework.org/schema/util/spring-util.xsd">

    <context:component-scan base-package="com.dbj.shiro" />

    <mvc:annotation-driven/>
<!--将和数据源相关的配置导入进来-->
    <import resource="spring-dao.xml"/>

    <bean id="shiroFilter" class="org.apache.shiro.spring.web.ShiroFilterFactoryBean">
        <property name="securityManager" ref="securityManager"/>
        <property name="loginUrl" value="login.html"/>
        <property name="unauthorizedUrl" value="403.html"/>
        <property name="filterChainDefinitions">
            <value>
                /login.html=anon
                /subLogin=anon
                /role=roles["admin"]
                /role2=roleOr["admin", "admin1"]
                /role1=roles["admin", "admin1"]
                /perms=perms["user:delete"]
                /perms1=perms["user:delete","user:update"]
                /**=authc
            </value>
        </property>
        <property name="filters">
            <util:map>
                <entry key="roleOr" value-ref="orFilter"/>
            </util:map>
        </property>
    </bean>

    <bean class="com.dbj.shiro.filter.RoleOrFilter" id="orFilter"/>

<!--    安全管理器-->
    <bean class="org.apache.shiro.web.mgt.DefaultWebSecurityManager" id="securityManager">
        <property name="realm" ref="customRealm"/>
    </bean>

<!--    加密时用到的bean-->
    <bean class="org.apache.shiro.authc.credential.HashedCredentialsMatcher" id="credentialsMatcher">
        <property name="hashAlgorithmName" value="md5"/>
        <property name="hashIterations" value="1"/>
    </bean>

    <bean id="customRealm" class="com.dbj.shiro.realm.CustomRealm">
        <property name="credentialsMatcher" ref="credentialsMatcher"/>
    </bean>
</beans>